@charset "UTF-8";

/* 공통 스타일 */
#content{width: 80%; margin: 30px auto; text-align: center;}
ul li{list-style: none;}

/* 학생 목록 스타일 >> studentlist.jsp  */
table, th, td{border: 1px solid #ccc; padding : 10px; border-collapse : collapse; margin:0 auto;}

/* 학생 등록 스타일 >> studentform.jsp */
form{width: 360px; margin: 0 auto;}
ul li label{float:left; width: 80px;}
ul li input.birth{width: 166px;}